{% extends "base.html" %}
{% load static %}
{% block title %}Djangocenter Blog List{% endblock %}


{% block css %}
<link href="{% static 'pages/css/inner_pages.rtl.css' %}" rel="stylesheet" />
<link href="{% static 'css/home_1_style.rtl.css' %}" rel="stylesheet" />
{% endblock %}

{% block bodystyle %}
home-style3 contact-pg-1
{% endblock %}

{% block js %}
<script src="{% static 'pages/js/inner_pages.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="body-container">
    <div class="container container-llgg">
      <!--Contents-->
      <main>
        <!--  Start breadcrumb  -->
        <section
          class="tc-breadcrumb-style6 p-30 radius-4 bg-white mt-3 wow fadeInUp"
        >
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb fw-bold mb-0">
              <li class="breadcrumb-item color-999"><a href="#">خانه</a></li>
              <li class="breadcrumb-item color-999">
                <a href="#">فروشگاه</a>
              </li>
              <li
                aria-current="page"
                class="breadcrumb-item active color-000"
              >
                تماس
              </li>
            </ol>
          </nav>
        </section>
        <!--  End breadcrumb  -->
        <!-- Start contact  -->
        <section class="contact p-30 radius-4 bg-white mt-3 wow fadeInUp">
          <h6 class="fsz-18 fw-bold text-uppercase mb-30">آماده کار با ما</h6>
          <div class="checkout-form mt-50">
            <div class="row">
              <div class="col-lg-7">
                <p class="fsz-16 color-666 mb-30">
                  برای همه سوالات و نظرات خود با ما تماس بگیرید
                </p>
                <form class="form">
                  <div class="form-content">
                    <div class="row gx-3">
                      <div class="col-lg-6">
                        <div class="form-group mb-4">
                          <label for=""
                            >نام<span class="color-red1">*</span>
                          </label>
                          <input
                            class="form-control"
                            placeholder=""
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group mb-4">
                          <label for=""
                            >نام خانوادگی<span class="color-red1">*</span>
                          </label>
                          <input
                            class="form-control"
                            placeholder=""
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group mb-4">
                          <label for=""
                            >آدرس ایمیل<span class="color-red1">*</span>
                          </label>
                          <input
                            class="form-control"
                            placeholder=""
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group mb-4">
                          <label for=""
                            >شماره تلفن<span class="color-666"
                              >(اختیاری)</span
                            >
                          </label>
                          <input
                            class="form-control"
                            placeholder=""
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group mb-4">
                          <label for=""
                            >کشور / منطقه<span class="color-red1">*</span>
                          </label>
                          <select
                            class="form-control form-select"
                            id=""
                            name=""
                          >
                            <option value="">
                              ایالات متحده (ایالات متحده)
                            </option>
                            <option value="">
                              ایالات متحده (ایالات متحده)
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group mb-4">
                          <label for=""
                            >موضوع<span class="color-666">(اختیاری)</span>
                          </label>
                          <input
                            class="form-control"
                            placeholder=""
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group mb-4">
                          <label for="">پیام</label>
                          <textarea
                            class="form-control"
                            name=""
                            placeholder="یادداشت درباره ما سفارش شما ، به عنوان مثال یادداشت ویژه برای تحویل"
                            rows="5"
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            id="account"
                            type="checkbox"
                            value=""
                          />
                          <label class="form-check-label" for="account"
                            >من می خواهم یک بار اخبار و به روزرسانی ها را
                            دریافت کنم.با ارسال ، من با<a
                              class="color-green2 text-decoration-underline"
                              href="#"
                              >شرایط و ضوابط</a
                            >
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <a
                          class="butn bg-green2 text-white radius-4 fw-500 fsz-12 text-uppercase text-center mt-50 py-3"
                          href="#"
                        >
                          <span>ارسال پیام</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-lg-5">
                <div class="contact-info mt-5 mt-lg-0">
                  <div class="contact-info-card">
                    <small class="fsz-12 color-666 text-uppercase mb-20"
                      >ایالات متحده (دفتر مرکزی)</small
                    >
                    <ul class="fsz-16 lh-lg">
                      <li>
                        <a href="#"
                          >152 خیابان جاده تاچر ، منهتن ، 10463 ، ایالات
                          متحده</a
                        >
                      </li>
                      <li>
                        <a href="#">(+025) 3886 25 16</a>
                      </li>
                      <li>
                        <a
                          class="color-green2 text-decoration-underline"
                          href="#"
                          >hello@swattechmart.com</a
                        >
                      </li>
                    </ul>
                    <small class="fsz-12 color-666 text-uppercase mb-20 mt-50"
                      >انگلستان (شعبه)</small
                    >
                    <ul class="fsz-16 lh-lg">
                      <li>
                        <a href="#"
                          >12 خیابان باکینگهام ، تورنتوایت ، HG3 4ty ،
                          انگلستان</a
                        >
                      </li>
                      <li>
                        <a href="#">(+718) 895-5350</a>
                      </li>
                      <li>
                        <a
                          class="color-green2 text-decoration-underline"
                          href="#"
                          >contact@swattechmart.co.uk</a
                        >
                      </li>
                    </ul>
                    <div class="social-icons mt-50">
                      <a href="#"> <i class="fab fa-twitter"></i> </a>
                      <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                      <a href="#"> <i class="fab fa-instagram"></i> </a>
                      <a href="#"> <i class="fab fa-youtube"></i> </a>
                      <a href="#"> <i class="fab fa-pinterest"></i> </a>
                    </div>
                  </div>
                  <div class="img th-380 mt-10">
                    <img
                      alt=""
                      class="img-cover radius-4"
                      src="assets/img/contact.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--  End contact  -->
        <!-- Start map  -->
        <section class="map p-30 radius-4 bg-white mt-3 wow fadeInUp mb-3">
          <h6 class="fsz-18 fw-bold text-uppercase mb-30">
            ما را در نقشه Google پیدا کنید
          </h6>
          <div class="map-content">
            <iframe
              allowfullscreen=""
              height="300"
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.501184049855!2d10.508400375579958!3d43.845439739977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d583f3cf413995%3A0x39c36090e2825e12!2sChurch%20of%20Saint%20Francis!5e0!3m2!1sen!2seg!4v1694912173628!5m2!1sen!2seg"
              style="border: 0"
              width="100%"
            ></iframe>
          </div>
        </section>
        <!--  End map  -->
      </main>
      <!--End-Contents-->
    </div>
  </div>
 

{% endblock %}